<%- include('base') %>

<h2 class="mb-3 d-flex  justify-content-center">注册</h2>
<form action="/register" method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <label class="form-control-label" for="username">Username</label>
        <input id="username" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
        <label class="form-control-label d-flex  justify-content-center" for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
        <label class="form-control-label d-flex  justify-content-center" for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password">
    </div>
    <div class="form-group d-flex  justify-content-center">
        <input type="submit" class="btn btn-primary" value="Register">
    </div>
</form>
